doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register Here
    link(rel="stylesheet", href="../static/register.css")
  body
    .container
      h5#header Please fill the form carefully
      p * Required fields
      form#formid(action="/register", method="post")
        | *Name: 
        br
        input.btn(type="text", name="name", required=true)
        p#emailmessage
        | *Email: 
        br
        input.btn(type="email", name="email", required=true)
        br
        | *D.O.B.: 
        br
        input.btn(type="date", name="dob", required=true)
        br
        | *Password: 
        br
        input.btn(type="password", name="password", required=true)
        p#error_message 
        | *Re Enter the Password: 
        br
        input.btn(type="password", name="confirm_password", required=true)
        br
        button#submitbtn(type="submit") Register
    script(src="/static/register.js")